
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Total</title>
</head>
<body>
    <div> 
        Total of all goods with price more then @ViewBag.value is @ViewBag.totalPrices
    </div>
</body>
</html>
